<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="all" href="/css/styleUserPage.css"
          th:href="@{/css/styleUserPage.css}"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.7.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="all" href="/css/boxbar.css" th:href="@{/css/boxbar.css}"/>
    <link rel="stylesheet" type="text/css" media="all" href="/css/drop.css" th:href="@{/css/drop.css}"/>

    <meta charset="UTF-8">
    <title>ADMIN</title>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <div class="sidebar position-fixed">
                <a href="/student/main" class="logo" style="display: flex; align-items: center;">
                    <img src="/images/logo.png" alt="Your photo" class="logo-icon" width="50" height="50" style="margin-right: 10px;">
                    <span class="logo-text" style="font-family: Arial, sans-serif; font-size: 28px;">TRACK APP</span>
                </a>
                <hr style="background-color: white;">
                <ul class="nav nav-pills flex-column mb-auto">
                    <li class="nav-item">
                        <a href="/student/main" class="nav-link active" aria-current="page">
                            <svg class="bi pe-none nav-icon" width="16" height="16">
                                <use xlink:href="/student/main"></use>
                            </svg>
                            <span class="nav-text">Главная</span>
                        </a>
                    </li>

                    <li>
                        <a th:href="@{/student/{id}(id=${student.getId()})}" class="nav-link text-white">
                            <svg class="bi pe-none nav-icon" width="16" height="16">
                                <use xlink:href="${student.getId()}"></use>
                            </svg>
                            <span class="nav-text">Информация о себе</span>
                        </a>
                    </li>
                </ul>
                <hr style="background-color: white;">
                <br>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="dropdown">
                        <img src="/images/student.png" alt=" " width="32" height="32" class="rounded-circle avatar">
                        <strong class="username" style="margin-left: 10px;" th:text="${student.getName()}">Admin</strong>
                        <form th:action="@{/logout}" th:method="POST" style="margin-left: 70px;">
                            <button class="btn btn-primary" type="submit">Выйти</button>
                        </form>
                    </div>
                </div>
                <br>
            </div>
        </div>

        <div class="col-md order-md-2">
            <div class="album py-5 bg-body-tertiary">
                <div class="container">
                    <div th:each="task : ${completedTasks}" class="col">
                        <form>
                            <div class="card shadow-sm">
                                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                                    <title>Placeholder</title>
                                    <rect width="100%" height="100%"></rect>
                                    <text x="50%" y="50%" fill="#eceeef" dy=".3em" class="text-inside-rectangle">
                                        <tspan x="50%" dy="1.2em" th:text="${task.getTitle()}"></tspan>
                                    </text>
                                </svg>

                                <div class="card-body">
                                    <div class="d-flex align-items-start">
                                        <svg width="30" height="30">
                                            <circle cx="15" cy="12" r="6" th:style="${'fill: gray'}"></circle>
                                        </svg>
                                        <p class="card-text ml-2" th:text="${task.getFullText()}"></p>
                                    </div>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <a th:href="@{task/{id}(id=${task.getId()})}" class="btn btn-sm btn-outline-secondary">Просмотреть</a>
                                        </div>
                                        <small class="text-body-secondary" th:text="${#dates.format(task.getEndTask(), 'dd.MM.yyyy')}"></small>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <script>
            document.getElementById('title').addEventListener('input', function () {
                document.getElementById('filterForm').submit();
            });

            var interestsSelect = document.getElementById('interests');
            interestsSelect.addEventListener('change', function () {
                if (this.value === '') {
                    window.location.href = 'http://localhost:8080/student/main';
                } else {
                    document.getElementById('filterForm').submit();
                }
            });

            // Сохранение выбранного значения фильтра важности
            var savedInterest = localStorage.getItem('selectedInterest');
            if (savedInterest) {
                interestsSelect.value = savedInterest;
            }

            // Обработчик изменения значения фильтра важности
            interestsSelect.addEventListener('change', function () {
                localStorage.setItem('selectedInterest', this.value);
            });
        </script>



    </div>
</div>
</body>
</html>




