<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <meta charset="UTF-8">
  <title>ADMIN</title>
</head>
<body>
<div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 280px; height: 745px;">
  <a href="/admin/main" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
    <svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
    <span class="fs-4">TRACK APP</span>
  </a>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a href="/admin/main" class="nav-link active" aria-current="page">
        <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="/admin/main"></use></svg>
        Главная
      </a>
    </li>
    <li>
      <a href="/admin/showStudents" class="nav-link text-white">
        <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="/admin/showStudents"></use></svg>
        Студенты
      </a>
    </li>
    <li>
      <a href="/admin/showWorkers" class="nav-link text-white">
        <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="/admin/showWorkers"></use></svg>
        Работники
      </a>
    </li>

    <li>
      <a href="/admin/task/new" class="nav-link text-white">
        <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="/admin/task/new"></use></svg>
        Создать новую задачу
      </a>
    </li>


    <form th:action="@{/logout}" th:method="POST">
      <input type="submit" value="Logout">
    </form>
  </ul>
  <hr>
  <div class="dropdown">
    <img src="https://yandex.ru/images/search?from=tabbar&img_url=http%3A%2F%2Fi.ya-wd.com%2Fimages%2Fblack-and-white-human-png-1.png&lr=213&p=2&pos=2&rpt=simage&text=%D0%B8%D0%BA%D0%BE%D0%BD%D0%BA%D0%B0%20%D0%B4%D0%BB%D1%8F%20%D1%81%D0%B0%D0%B9%D1%82%D0%B0%20%D1%87%D0%B5%D0%BB%D0%BE%D0%B2%D0%B5%D0%BA%D0%B0"
         alt="" width="32" height="32" class="rounded-circle me-2">
    <strong>Administrator</strong>
    </a>
  </div>


</div>

<div class="text-center" th:each="task : ${tasks}">
  <a th:href="@{/admin/task/{id}(id=${task.getId()})}"
     th:text="${task.getId() + ' - ' + task.getTitle() + ' ' + task.getFullText()
       + ' ' + task.getStartTask()+ ', ' + task.getEndTask()}">123</a>

  <form th:method="GET" th:action="@{/admin/task/{id}/edit(id=${task.getId()})}">
    <input type="submit" value="Редактировать"/>
  </form>

  <form th:method="DELETE" th:action="@{/admin/task/{id}(id=${task.getId()})}">
    <input type="submit" value="Удалить"/>
  </form>
</div>



</body>
</html>