<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>NEW TASK</title>
</head>
<body>


<form th:method="POST" th:action="@{/admin/main}" th:object="${task}">
    <select id="student" name="student">
        <option th:selected="${studentId == 0}" value="0">Выберите студента</option>
        <th:block th:each="student : ${students}">
            <option th:value="${student.id}" th:text="${student.name}" th:selected="${studentId == student.id}"></option>
        </th:block>
    </select>
    <br>
    <label for="all">Отправить всем студентам:</label>
    <input type="checkbox" id="all" name="all"/>
    <label for="title">Введите название задачи: </label>
    <input type="text" th:field="*{title}" id="title"/>
    <div style="color:red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">title ERROR</div>
    <br/>
    <label for="fullText">Введите текст задачи: </label>
    <input type="text" th:field="*{fullText}" id="fullText"/>
    <div style="color:red" th:if="${#fields.hasErrors('fullText')}" th:errors="*{fullText}">fullText ERROR</div>
    <br/>
    <label for="endTask">Введите завершение задачи: </label>
    <input type="text" th:field="*{endTask}" id="endTask"/>
    <div style="color:red" th:if="${#fields.hasErrors('endTask')}" th:errors="*{endTask}">endTask ERROR</div>
    <br/>
    <button type="submit" class="btn btn-primary">Создать задачу</button>
</form>
</body>
</html>