* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
}
/* Стили для левой панели */
.sidebar1 {
    height: 100vh;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}
.sidebar1 button {
    padding: 1.5rem;
    font-size: 1.2rem;
    width: 300px;
    height: 60px;
    background-color: #039bfd;
    color: #ffffff;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}
/* Стили для основного содержимого страницы */
.main-content1 {
    height: 100vh;
    width: 75%;
    background-image: url('/static/images/main_page.jpg');
    background-size: cover;
    background-position: center;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.b-example-divider {
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.bd-mode-toggle {
    z-index: 1500;
}

rect.green {
    fill: #EEE8AA;

}

rect.yellow {
    fill: #77DD77;
}

rect.default {
    fill: #808080;
}
